<h2>Media Folders</h2>
<div *ngIf="activatedFolder">
  <input type="file" class="file-input" (change)="uploadFile($event.target)" #fileUpload />

  <div class="file-upload">
    {{ fileName || "No file uploaded yet." }}
    <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
      <mat-icon>attach_file</mat-icon>
    </button>
  </div>
</div>

<div class="bread-crumb">
  <ng-container *ngFor="let folder of path; let i = index">
    <button mat-button href="#" (click)="navigateToParent(i)">
      <span>{{ folder.name }}</span>
    </button>
    <mat-icon>keyboard_arrow_left</mat-icon>
  </ng-container>
</div>

<div class="child-folder-row">
  <mat-card *ngFor="let folder of filteredMediaFolders">
    <mat-card-content>
      <mat-checkbox />
      <button mat-flat-button (click)="onFolderClick(folder)"><mat-icon>folder</mat-icon>{{ folder.name }}</button>
    </mat-card-content>
  </mat-card>
</div>

<h2>Media Files</h2>
<div class="child-folder-row" *ngIf="filteredMedias.length > 0">
  <mat-card *ngFor="let media of filteredMedias">
    <mat-card-content>
      <mat-checkbox (change)="openDialog(media)">
        <mat-icon>description</mat-icon>
        {{ media.name }}</mat-checkbox
      >
    </mat-card-content>
  </mat-card>
</div>
