<h2>Media Folders</h2>

<input type="file" class="file-input" (change)="uploadFile($event)" (change)="onFileSelected($event)" #fileUpload />

<div class="file-upload">
  {{ fileName || "No file uploaded yet." }}
  <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
    <mat-icon>attach_file</mat-icon>
  </button>
</div>

<div *ngFor="let folder of path; let i = index" (click)="navigateToParent(i)">
  <mat-icon>keyboard_arrow_right</mat-icon>
  <span>{{ folder.name }}</span>
</div>

<div class="child-folder-row">
  <mat-card *ngFor="let folder of filteredMediaFolders" (click)="onFolderClick(folder)">
    <mat-card-content>
      <mat-checkbox> <mat-icon>folder</mat-icon>{{ folder.name }}</mat-checkbox>
    </mat-card-content>
  </mat-card>
</div>
<h2>Media Files</h2>
<div class="child-folder-row" *ngIf="filteredMedias.length > 0">
  <mat-card *ngFor="let media of filteredMedias">
    <mat-card-content>
      <mat-checkbox (change)="openDialog(media)">
        <mat-icon>description</mat-icon>
        {{ media.name }}</mat-checkbox
      >
    </mat-card-content>
  </mat-card>
</div>
