.child-folder-row {
  display: flex;
  gap: 10px;
  padding-right: var(--sizes-medium);

  div {
    width: 200px;
  }
}

.margin-card {
  margin: 30px;
  width: 10%;
}

.file-input {
  display: none;
}

.card {
  padding: var(--sizes-medium);
}

.bread-crumb {
  display: flex;
  align-items: center;
}
