<form [formGroup]="dynamicForm">
  <div class="row">
    <ng-container *ngFor="let propInfo of propertiesInfo">
      <mat-form-field
        *ngIf="['string', 'number', 'integer'].includes(getFirstType(propInfo.property) ?? '')"
        class="col-xs-12 col-sm-6 col-lg-4"
      >
        <mat-label>{{ propInfo.name }}</mat-label>
        <input
          matInput
          [type]="getFirstType(propInfo.property) ?? ''"
          [required]="schemaInfo.schema.required?.includes(propInfo.name) ?? false"
          [formControlName]="propInfo.name"
        />
        <!--  -->
      </mat-form-field>

      <app-relation *ngIf="propInfo.ref" [entityName]="propInfo.ref" [formControlName]="propInfo.name"></app-relation>

      <mat-slide-toggle
        *ngIf="getFirstType(propInfo.property) === 'boolean'"
        class="col-xs-12 col-sm-6 col-lg-4"
        [formControlName]="propInfo.name"
      >
        {{ propInfo.name }}
      </mat-slide-toggle>
    </ng-container>
  </div>

  <div>
    <button mat-raised-button color="primary" (click)="save()">Submit</button>
    <button mat-raised-button (click)="cancel()">cancel</button>
  </div>
</form>
