<div class="card-container">
  <mat-card class="mat-card-ed">
    <mat-card-header>
      <h2>{{ pageTitle }}</h2>
    </mat-card-header>
    <form [formGroup]="dynamicForm">
      @for (propInfo of schemaInfo.propertiesInfo; track $index) {
        @if (!propInfo.property.hide) {
          @switch (propInfo.inputType) {
            @case (inputType.dateTime) {
              <mat-form-field class="col-xs-12 col-sm-6 col-lg-4 padded-field">
                <mat-label>{{ schemaInfo.entityTranslations[propInfo.name] }}</mat-label>
                <input
                  matInput
                  [matDatepicker]="myDatepicker"
                  placeholder="Choose a date"
                  (click)="myDatepicker.open()"
                />
                <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                <mat-datepicker #myDatepicker></mat-datepicker>
              </mat-form-field>
            }
            @case (inputType.input) {
              <mat-form-field class="col-xs-12 col-sm-6 col-lg-4 padded-field">
                <!-- <mat-label>{{ propInfo.name }}</mat-label> -->
                <mat-label>{{ schemaInfo.entityTranslations[propInfo.name] }}</mat-label>
                <input
                  matInput
                  [type]="propInfo.firstType ?? ''"
                  [required]="schemaInfo.schema.required?.includes(propInfo.name) ?? false"
                  [formControlName]="propInfo.name"
                />
                <mat-error *ngIf="dynamicForm.get(propInfo.name)?.hasError('email')">
                  Please enter valid email form
                </mat-error>
                <mat-error *ngIf="dynamicForm.get(propInfo.name)?.hasError('pattern')">
                  The name should be between 3-20 letter
                </mat-error>
              </mat-form-field>
            }
            @case (inputType.relation) {
              <app-relation
                [entityName]="propInfo.ref!"
                [formControlName]="propInfo.name"
                [name]="getRelation(propInfo).value"
                (nameChange)="getRelation(propInfo).setValue($event)"
                class="padded-field"
              />
            }
            @case (inputType.boolean) {
              <mat-slide-toggle class="col-xs-12 col-sm-6 col-lg-4 padded-field" [formControlName]="propInfo.name">
                {{ propInfo.name }}
              </mat-slide-toggle>
            }
            @default {
              unknown
            }
          }
        }
      }
      <div>
        <button mat-raised-button color="primary" (click)="save()">{{ translations.save }}</button>
        <button mat-raised-button color="warn" (click)="cancel()">{{ translations.cancel }}</button>
      </div>
    </form>
  </mat-card>
</div>
