<div class="container">
  <h2>{{ entityName }}</h2>
  <div class="button-group">
    <button mat-raised-button color="primary" [routerLink]="['../../', 'create', entityName]">
      + Add New {{ entityName }}
    </button>
    <button [matMenuTriggerFor]="menu" aria-label="Settings menu">
      <mat-icon>settings</mat-icon>
    </button>
  </div>
</div>

<app-filter-data-table [schema]="schemaInfo.schema" (search)="filters.setValue($event)" />
<app-table [isPageable]="true" [tableColumns]="tableColumns" [tableData]="result.items" (fetchData)="fetchData()" />

<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>download</mat-icon>
    download
  </button>
</mat-menu>
