<div class="card-container">
  <mat-card class="mat-card-ed">
    <mat-card-content>
      <form [formGroup]="form">
        <h2 i18n>User Profile</h2>
        <mat-form-field class="col-xs-12 col-sm-6 col-lg-4">
          <mat-label i18n>name</mat-label>
          <input formControlName="name" type="text" matInput placeholder="Edit Your Name" required />
        </mat-form-field>
        <mat-form-field class="col-xs-12 col-sm-6 col-lg-4">
          <mat-label i18n>password</mat-label>
          <input formControlName="password" type="text" matInput placeholder="Edit Your Password" />
        </mat-form-field>

        <mat-form-field class="col-xs-12 col-sm-6 col-lg-4">
          <mat-label i18n>language</mat-label>
          <mat-select formControlName="language">
            <mat-option *ngFor="let language of languages" [value]="language">{{ translations[language] }}</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" i18n (click)="save()">save</button>
      <button mat-raised-button color="warn" i18n>cancel</button>
    </mat-card-actions>
  </mat-card>
</div>
