<h2 mat-dialog-title>
  <ng-container i18n>create path instance</ng-container>
  : {{ path.name }}
</h2>
<mat-dialog-content>
  <app-dynamic-fields [excludeFields]="excludeFields" [formControl]="formValue" [entityName]="pathInstanceName" />
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close color="accent" i18n>cancel</button>
  <button
    mat-raised-button
    cdkFocusInitial
    color="primary"
    [disabled]="formValue.invalid"
    (click)="createPathInstance()"
  >
    <ng-container i18n>create path instance</ng-container>
  </button>
</mat-dialog-actions>
